html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bd-example {
    max-width: 640px;
    padding: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.login-form{
    
}

.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}


.bookmark-img{
    max-width: 300px;
    margin-bottom: 15px;
}

.bookmark-item {
    max-width: 400px;
}

.bookmark-item a {
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
    cursor: pointer;
}

.bookmark-item-description {
    margin-top: 1.5rem;
    border-top: 1px solid rgb(0 0 0 / 30%);
    max-height: 12ch;
    max-width: 36ch;
    overflow: hidden;
}
.bookmark-item a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
}

.bookmark-item img {
    display: block;
    width: 250px;
    margin: 0px auto;
}

.bookmark-item a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.unbookmark {
    border: 0px solid;
    background-color: white;
    color: cornflowerblue;
}

.unbookmark:hover {
    color: darkcyan;
}

.details-modal {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 180px;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.details-modal .details-modal-close {
    align-items: center;
    color: #111827;
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
    cursor: pointer;
}

.details-modal .details-modal-title {
    color: #111827;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);
}

.details-modal .details-modal-content {
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
}